.bannerDivImg {
    background-position: center center;    
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    border: 1px solid white;    
}
.nav-link.active{
    color: rgb(229, 77, 66);
}

@media (max-width:575px) {
    .bannerDivImg{
        display: none;
    }
}